@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf') format('ttf');

}

body{
    font-family: raleway;
    margin: 30px 45px 0px 45px;
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    padding: 0px;
    font-size: 13px;
}


header nav a.topm{
    padding: 10px;
    color:#0065FC;
    letter-spacing: 1px;
    text-decoration: none;
}
header nav a.topm:hover{
    text-decoration: unset;
    color: #F2F2F2;
}

.location{
    display: flex;
}

main section form p{
    margin: auto;
    
}

main section form input{
    height: 36px;
    width: 160px;
    font-family: 'Raleway';
    font-weight: bold;
    border: 1px solid #F2F2F2;
    
}

.icone{
    background: #F2F2F2;
    width: 44px;
    height: 40px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.fas{
    color: black;
}

button{
    background: #0065FC ;
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    width: 95px;
    border-radius: 0px 12px 12px 0px;
    border: none;
}

.filtres{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.un{
    margin-right: 50px;
}

.ssFiltres{
    font-size: 16px;
}


.deux{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.fas.fa-money-bill-wave{
    color: #0065FC ;
    background: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.sseconomique{
    border: #F2F2F2 solid 1px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    margin-left: -15px;
    width: 129px;
    height: 36px;
    z-index: 0;
}

.trois{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.fas.fa-child{
    color: #0065FC ;
    background: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ssfamilial{
    border: #F2F2F2 solid 1px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    margin-left: -15px;
    width: 129px;
    height: 36px;
    z-index: 0;
}

.quatres{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.fas.fa-heart{
    color: #0065FC ;
    background: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ssromantique{
    border: #F2F2F2 solid 1px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    margin-left: -15px;
    width: 129px;
    height: 36px;
    z-index: 0;
}

.cinq{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.fas.fa-dog{
    color: #0065FC ;
    background: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.ssanimaux{
    border: #F2F2F2 solid 1px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    margin-left: -15px;
    width: 165px;
    height: 36px;
    z-index: 0;
}

.info{
    display: flex;
    align-items: center;
}

.fas.fa-info{
    color: #0065FC;
    /* background: #DEEBFF; */
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 1px;
}