@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf') format('ttf');

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: raleway;
    margin: 19px 10px 0px 19px;
    background-color: rgb(255, 255, 255);
}
nav{
    padding: 0px;
    font-size: 13px;
}

main section{

    font-family: raleway;
    margin: 19px 10px 0px 19px;
    background-color: rgb(255, 255, 255);
}



header nav a.menu{
   
    color:#0065FC;
    letter-spacing: 1px;
    text-decoration: none;
}
header nav a.menu:hover{

    border-top: 2px solid #0065FC;
    
    
}

main section .rental{
    display: flex;
}

main section form p{
    margin: auto;
    
}

main section form input{
    height: 36px;
    width: 160px;
    font-family: 'Raleway';
    font-weight: bold;
    border: 1px solid #F2F2F2;
    
}

main section .icon{
    background: #F2F2F2;
    width: 44px;
    height: 40px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section.fas{
    color: black;
}

button{
    background: #0065FC ;
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    width: 95px;
    border-radius: 0px 12px 12px 0px;
    border: none;
}

main section .filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 25px;
}


main section .filters h2{
    font-size: 16px;
    margin-right: 50px;
}


main section .filter{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

main section .filter .fas{
    color: #0065FC ;
    background: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

main section .filters .filter .button{
    border: #F2F2F2 solid 2px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    margin-left: -15px;
    /* width: 50%; */
    height: 36px;
    z-index: 0;
    font-weight: bold;
}


main section .info{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

main section .info .fas{
    color: #0065FC;
    /* background: #DEEBFF; */
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 1px;
}

main section .container-accomodation > .accommodation{
    background: #F2F2F2;
    width: 73%;
    margin-right: 2%;
    border-radius: 25px 25px 25px 25px;
    
}

main section .container-accomodation .subtitle{
    padding: 34px 13px 0px 28px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

main section .container-accomodation .accommodation .subtitl{
    padding: 45px 16px 0px 44px;
    font-size: 19px;
    font-weight: 800;
}


main section .pixel{
    background: white;
    border-radius: 19px 19px 19px 19px;
    width: 24%;
    height: 217px;
    margin-left: 20px;
    margin-top: 42px;
    padding: 7px 6px 17px 7px;
    box-shadow: 6px 6px 6px gray;
}


main section .pixel img{
    border-radius: 19px 19px 0px 0px;
    width: 100%;
    height: 160px;
}

main section .remark{
    padding-left: 12px;
}

main section .remark .title{

    font-weight: bold;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 5px;
}

main section .remark .text{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 6px;
}

main section .star .fas{
    color: #0065FC;
    
}


.etoile-1 > i.fas:nth-last-of-type(-n+1){
    color: #F2F2F2;
}

.etoile-2 > i.fas:nth-last-of-type(-n+2){
    color: #F2F2F2;
}

.etoile-3 > i.fas:nth-last-of-type(-n+3){
    color:#F2F2F2;
}




main section .block{
    display: flex;
    flex-wrap: wrap;
    width: 119%;
}

main section aside{
    width: 25%;
    background: #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    

}

main section .container-accomodation{
    display: flex;
    flex-wrap: wrap;
}
main section aside .sub{
    display: flex;
    align-items: flex-end;
}
main section aside .sub .fas{
    font-size: x-large;
    margin-left: 17px;
}


main section aside .pixel{
    display: flex;
    flex-wrap: wrap;
    background: white;
    border-radius: 19px 19px 19px 19px;
    width: 88%;
    height: 118px;
    margin-left: 9px;
    margin-top: 64px;
    margin-bottom: 65px;
    padding: 7px 6px 17px 7px;
    box-shadow: 6px 6px 6px gray;
}

main section aside .pixel img{
    border-radius: 19px 0px 0px 19px;
    width: 39%;
    height: 130px;
    object-fit: cover;
}

main section aside .remark .title{

    font-weight: bold;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 5px;
}

main section aside .remark .text{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px;
}

main section aside .subtitle{
    font-size: 25px;
    font-weight: 800;
    margin-top: 100px;


}

main section .activity{
    display: flex;
}

main section .activity .one{

    background: white;
    border-radius: 19px 19px 19px 19px;
    width: 24%;
    height: 305px;
    margin-left: 9px;
    margin-right: 45px;
    margin-top: 25px;
    margin-bottom: 82px;
    box-shadow: 6px 6px 6px gray;

}

main section .activity .one img{
    border-radius: 19px 19px 0px 0px;
    height: 87%;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
}

main section .activity .two{
    width: 20%;
    height: 305px;
    margin-left: 9px;
    margin-right: 45px;
    margin-top: 25px;
    margin-bottom: 82px;

}

main section .activity .two .small{
    background: white;
    border-radius: 19px 19px 0px 0px;
    border-radius: 19px 19px 19px 19px;
    box-shadow: 6px 6px 6px gray;
    width: 100%;
    height: 130px;
    margin-bottom: 47px;

}

main section .activity .two .small img{
    border-radius: 19px 19px 0px 0px;
    width: 100%;
    height: 75%;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
}

main section .activity .title{
    margin-top: 3px;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
}

 footer{
    display: flex;
    font-family: raleway;
    align-items: center;
    width: 100%;
    height: 260px;
    background:  #F2F2F2;
}

footer .shortcut{
    margin-right: 100px;
    margin-left: 40px;
    margin-top: 0px;
}

footer .shortcut .title{
    font-size: 14px;
    font-weight: bold;
}

footer .shortcut .text{
    font-size: 12px;
    
}

@media (max-width: 768px){
    main section .pixel{
        width: 36%; 
        
    }
}