@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Regular.ttf') format('ttf');

}

body{
    font-family: raleway;
    margin: 30px 45px 0px 45px;
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    padding: 0px;
    font-size: 13px;
}

.topm{
    padding: 10px;
    color:#0065FC;
    letter-spacing: 1px;
    text-decoration: none;
}
.topm:hover{
    text-decoration: unset;
    color: #F2F2F2;
}